<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= yield(:baseTitle) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>


  <body>
    <div id="header">
     <a style="color: black; text-indent: 20px", href="/">
       <h1>math in operation</h1></a>
    </div>
    <div style="position: fixed; width: 100%; z-index: 2; top: 140px; left: -15px">
      <div style="float: right; z-index: 2; top: 140px">
        <% if logged_in? %>
          <%= link_to "create post", new_blogpost_path, id: "header-button" %>
          <%= link_to "log out", logout_path, method: :delete, id: "header-button"%>
        <% end %>
        <%= link_to "about", about_path, id: "header-button"%>
      </div>
    </div>
    <div style="margin-top: 200px">
      <%= render 'shared/messages' %>
      <div class="container">
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div> 
  </body>
</html>
