<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= yield(:baseTitle) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>


  <body>
    <div id="header">
     <a style="color: black; text-indent: 20px", href="/"><h1>math in operation</h1></a>
    </div>
    <div style="margin-top: 200px">
      <%= render 'shared/messages' %>
      <div class="container">
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div> 
  </body>
</html>
